.container{
    display: flex;
    justify-content: center;
    flex-flow: column;
    margin-top: 100px;
}
.button{

    margin-top: 20px;
    display: flex;
    justify-content:  center;
    align-items: center;
    height: 37px;
    width: 77px;
    border-radius: 6px;
    color:white;

}
.search-button:hover{
    background-color: #0B5ED7;
    cursor: pointer;
}
.search-button{
    background-color: #0d6efd ;
}
.delete-button{
    display: none;
    background-color: red;
    margin-left: 10px;
}

.delete-button:hover{
    background-color: rgba(189, 0, 0, 0.986);
    cursor: pointer;
}

.btn-group{
    display: flex;
}
#msg-noresult{
    display: none;
}
.custom-warning{
    height: 5px;    
    display: flex;
    align-items: center;
}
.msg-alert{
    background-color: #FFF3CD;
    height: 33.6px;
    padding-left: 15px;
    color: #6B4D03;
    font-weight: 400;
    border-radius: 5px;
    border: 0.5px solid rgba(255, 166, 0, 0.349);
    display: flex;
    align-items: center;

}
#msg-jobTitle{
    display: none;
}

#msg-location{
    display: none;
}
#cnt-result{
    display: none;
    margin-top: 20px;

}


.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .loader.hide{
    top: -50%;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }